.list {
  padding: 20px;
  margin: 10px;

  background-color: azure;
  border: 3px solid maroon;

  border-radius: 15px;
}

.button {
  background-color: beige;

  border-color: aliceblue;
  border-radius: 15px;
}

.remove {
  background-color: red;
  color: white;

  border-color: darkred;
  border-radius: 15px;
}
